.task-container {
    margin: auto;
    display: none;
    flex-direction: column;
    border-radius: 8px;
    max-width: 90%;
    padding: 8px 32px;
    background-color: #fefefe;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.task-container > hr {
    width: 100%;
}

.task-container > .task {
    display: flex;   
    margin: 0 16px;
    align-items: center;
    gap: 16px;
}

/* checkbox */
.task-container > .task > input{
    height: 24px;
    width: 24px;
}
.task-container > .task > input:hover{
    cursor: pointer;
}

.task-container > .task > img {
    height: 100%;
}

.task-container > .task > img:hover{
    scale: 1.1;
}

.task-container > .task > img:active{
    scale: 1.2;
}

.task-container > .task > p {
    flex: 1;
}

.task-container > .task > .done {
    text-decoration: line-through;
    color: #565656;
}

.dragging {
    opacity: 0.5;
}

.draggable:hover {
    cursor: move;
}