.textbar {
    padding: 0;
    text-align: center;
    max-width: 90%;
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textbar > .textbar-content {
    flex: 1;
    padding: 4px;
    max-width: 90%;
    border: none;
    font-size: 1.2em;
    resize: none;
    margin: 32px auto 8px auto;
    border-bottom: 1px solid #dedede;
}

.textbar > .textbar-content:focus{
    outline: none;
}

.input-bar-date-btn-container{
    align-items: center;
    flex: 1;
    display: none;
}

.input-bar-date-label {
    margin-right: 8px; 
    font-size: 1.1em;
    margin-left: 16px;
    cursor: pointer;
}

.input-bar-date {
    cursor: pointer;
    border: none;
    font-size: 1.1em;
    margin-left: 16px;
}

.input-bar-btn {
    margin: 16px 16px 16px auto;
    background-color: inherit;
    justify-self: end;
}

.textbar > .exists-msg {
    background-color: #ff9999;
    width: 100%;
    padding: 16px;
    display: none;
    margin: 0;
    flex: 1;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}