.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 0;
  justify-items: center;
  padding: 1rem;
  background-color: #343434;
}

.header > h1 {
  grid-column: 2;
  color: #fefefe;
}

.header > button {
  justify-self: end;
}

.header > .user {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  color: #fefefe;
  align-items: center;
}

.header > .user > img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
}

.header > .user > button {
  font-size: 0.9rem;
}
