.sidebar {
    background-color: #dedede;
    display: flex;
    flex-direction: column;
    max-width: 30%;
    justify-content: start;
}

.sidebar > button {
    padding: 16px;
    margin: 16px;
    background-color: #fcfcfc;
    border-color: #acacac;
}

.menu-item {
    padding: 16px;
    margin: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu-item:hover{
    background-color: #aeaeae;
}

.sidebar > .menu-item-container > .menu-item > .menu-item-name {
    margin: 0;
    flex: 1;
    padding-top: 0;
}

#selected {
    background-color: #565656;
    color: #fefefe;
}