* {
    box-sizing: border-box;
}
@font-face {
    font-family: ubuntu;
    src: url('./fonts/Ubuntu-Regular.ttf');
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    font-family: ubuntu, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #565656;
}

button {
    border-radius: 4px;
    border: 1px solid #dedede;
    padding: 8px 16px;
    font-size: 16px;
}

.icon-button:hover {
    scale: 1.1;
}
.icon-button:active {
    scale: 0.9;
}

button:hover {
    scale: 1.1;
}

button:active{
    scale: 1.05;
}

.container {
    display: flex;
    height: 100%;
}

.content {
    flex: 1;
}