* {
  box-sizing: border-box;
}
@font-face {
  font-family: ubuntu;
  src: url('./fonts/Ubuntu-Regular.ttf');
}

body,
ul,
h5,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: ubuntu, Geneva, Tahoma, sans-serif;
  height: 100vh;
  background-color: #565656;
}

#root {
  height: 100%;
  width: 100%;
}

button {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #dedede;
  font-size: 1rem;
  cursor: pointer;
}

button:hover,
.btn:hover {
  scale: 0.99;
}

button:active,
.btn:active {
  scale: 0.97;
}
